.active {
  font-weight: 900;
}
.asosiy {
  height: 400px;
  background: linear-gradient(180deg, #3333a3 5.09%, #121212 83.4%);
  /* background: white;
  margin-top: 100px; */
}

.likes {
  height: 400px;
  background: linear-gradient(180deg, #def628 5.09%, #121212 83.28%);
}
